%position-absolute {
  position: absolute;
}
.shield {
  @extend %position-absolute;
}
.hours {
  @extend %position-absolute;
  z-index: 2;
}
.seconds {
  @extend %position-absolute;
  z-index: 3;
}
.minutes {
  @extend %position-absolute;
  z-index: 1;
}
